<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div class="col-md-12">
        <br>
        <h1>Welcome to <i class="fas fa-book"></i> <strong>Bookers</strong>!!</h1>
        <br>
      </div>
    </div>
  </div>
</div>
